hostname {{ hostname}}
profile aggregation-leaf
{% for server in ntp_servers %}
ntp server {{ server }}
{% endfor %}
ntp server pool.ntp.org minpoll 4 maxpoll 4 iburst
ntp enable
ntp vrf {{ ntp_vrf | default("mgmt", true) }}
!
!
!
!
{% for server in tacacs_servers %}
tacacs-server host {{server.host}} key ciphertext {{server.ciphertext}} vrf mgmt
{% endfor %}
!
!
!
ssh server vrf mgmt
vlan 1
{% for vlan in host_vlans %}
vlan {{vlan.id}}
    name {{vlan.name}}
    ip igmp snooping enable
{% endfor %}
spanning-tree
{% if group is defined %}
spanning-tree config-name {{group}}
{% elif stp_config_name is defined %}
spanning-tree config-name {{stp_config_name}}
{% endif %}
interface mgmt
    no shutdown
    ip dhcp
system interface-group 1 speed 10g
    !interface group 1 contains ports 1/1/1-1/1/4
{% for mclag in vsx_mclags %}
interface lag {{mclag.id}} multi-chassis
    no shutdown
    no routing    
    description {{mclag.description}}
    vlan trunk native 1
{% for vlan in mclag.allowed_vlans %}
    vlan trunk allowed {{vlan.id}}
{% endfor %}
    lacp mode active
{% if mclag.id is 1 %}
    spanning-tree root-guard
{% endif %}
{% endfor %}
interface lag {{vsx_isl_lagid}}
    no shutdown
    description VSX-ISL-LAG
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
{% if vsx_isl_ports is defined %}    
    {% for interface in vsx_isl_ports %}
interface {{interface}}
    no shutdown
    description VSX ISL
        {% if  mtu is defined %}
    mtu {{mtu}}
        {% else %}
    mtu 9198    
        {% endif %}
    lag {{vsx_isl_lagid}}
    {% endfor %}
{% else %}
{% endif %}
{% for mclag in vsx_mclags %}
{% for interface in mclag.interfaces %}
interface {{interface}}
    no shutdown
    description {{mclag.description}}
    mtu {{mtu}}
    lag {{mclag.id}}
{% endfor %}
{% endfor %}
snmp-server system-location {{ system_location }}
snmp-server system-contact {{ system_contact }}
vsx
    system-mac {{vsx_system_mac | default('02:00:00:00:10:01', true)}}
    inter-switch-link lag {{vsx_isl_lagid | default('256', true)}}
    role {{vsx_role}}
{% if vsx_keepalive_vrf is defined %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}} vrf {{vsx_keepalive_vrf}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}} vrf {{vsx_keepalive_vrf}}
{% endif %}
{% else %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}}
{% endif %}
{% endif %}
{% for server in dns_servers %}
ip dns server-address {{server}} vrf mgmt
{% endfor %}
!
!
!
!
!
https-server vrf mgmt