hostname RSVDC-ACCESS1-1
profile aggregation-leaf
{% for server in ntp_servers %}
ntp server {{ server }}
{% endfor %}
ntp server pool.ntp.org minpoll 4 maxpoll 4 iburst
ntp enable
ntp vrf {{ ntp_vrf | default("mgmt", true) }}
!
!
!
!
tacacs-server host 10.2.120.94 key ciphertext AQBapTMGmLBPD14dwIgtfKtG6BbiEjvtTBdL/mC3bEo91XegCQAAAFUz3moFw0EX0A== vrf mgmt
tacacs-server host 10.2.120.95 key ciphertext AQBapTsQeZay/1Mw1ivHkhdC7MGDGFcUz0oUsSNzdQf+gUw0CQAAABFOhXhwqm+UpA== vrf mgmt
!
!
!
ssh server vrf mgmt
vlan 1
{% for vlan in prod_vlans %}
vlan {{vlan.id}}
    name {{vlan.name}}
    ip igmp snooping enable
{% endfor %}
spanning-tree
{% if group is defined %}
spanning-tree config-name {{group}}
{% elif stp_config_name is defined %}
spanning-tree config-name {{stp_config_name}}
{% endif %}
interface mgmt
    no shutdown
    ip dhcp
system interface-group 1 speed 10g
    !interface group 1 contains ports 1/1/1-1/1/4
interface lag 1 multi-chassis
    description ESXi-01
    no shutdown
    no routing
    vlan trunk native 1
{% for vlan in prod_vlans %}
    vlan trunk allowed 101-102
{% endfor %}
    lacp mode active
    spanning-tree root-guard
interface lag 255 multi-chassis
    description DC-CORE
    no shutdown
    no routing
    vlan trunk native 1
    vlan trunk allowed all
    lacp mode active
interface lag 256
    description VSX_ISL_LAG
    no shutdown
    no routing
    vlan trunk native 1
    vlan trunk allowed all
    lacp mode active
interface 1/1/1
    no shutdown
    mtu 9198
    lag 1
interface 1/1/49
    description VSX-ISL
    no shutdown
    mtu 9198
    lag 256
interface 1/1/50
    description VSX-ISL
    no shutdown
    mtu 9198
    lag 256
interface 1/1/53
    description RSVDC-CORE1-1
    no shutdown
    mtu 9198
    lag 255
interface 1/1/54
    description RSVDC-CORE1-2
    no shutdown
    mtu 9198
    lag 255
snmp-server system-location DC01, Roseville, CA
snmp-server system-contact netadmin@orangetme.local
vsx
    system-mac 02:00:00:00:10:01
    inter-switch-link lag {{vsx_isl_lagid | default('256', true)}}
    role {{vsx_role}}
{% if vsx_keepalive_vrf is defined %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}} vrf {{vsx_keepalive_vrf}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}} vrf {{vsx_keepalive_vrf}}
{% endif %}
{% else %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}}
{% endif %}
{% endif %}
ip dns server-address 10.2.120.98 vrf mgmt
ip dns server-address 10.2.120.99 vrf mgmt
!
!
!
!
!
https-server vrf mgmt
configuration-lockout central managed
