
hostname {{ hostname}}
user admin group administrators password ciphertext AQBapetVmtD4dXlkd3rWXjrI57yHNA4Zr0HszgOE7BgeEtekYgAAALC1aBsgvgOxs5UvlJtdipTnLbOzykRphH6kLpXi7FKHrFgrrm0n7EGSjtSLbOEvADjo8TtIC9hU1ZJbe25QdO2znb4JzsYtdE9yq4IMMFtzARalPNC85VYOcbZylD+0iEeF
clock timezone america/los_angeles
profile l3-agg
{% for server in ntp_servers %}
ntp server {{ server }}
{% endfor %}
ntp enable
ntp vrf {{ ntp_vrf | default("mgmt", true) }}
!
!
!
!
{% for server in tacacs_servers %}
tacacs-server host {{server.host}} key ciphertext {{server.ciphertext}} vrf mgmt
{% endfor %}
!
!
!
ssh server vrf mgmt
router ospf 1
    router-id {{loopback0_ip}}
    passive-interface default    
    area {{ospf_area}}
vlan 1
{% for vlan in host_vlans %}
vlan {{vlan.id}}
    name {{vlan.name}}
{% endfor %}
{% for vlan in routing_vlans %}
vlan {{vlan.id}}
    name {{vlan.name}}
{% endfor %}
spanning-tree
spanning-tree priority 0
{% if group is defined %}
spanning-tree config-name {{group}}
{% elif stp_config_name is defined %}
spanning-tree config-name {{stp_config_name}}
{% endif %}
interface mgmt
    no shutdown
    ip dhcp
{% for lag in racks %}
interface lag {{ loop.index }} multi-chassis
    description RACK-{{rack.id}}
    no shutdown
    no routing
    vlan trunk native 1
    vlan trunk allowed all
    lacp mode active
    lacp fallback
    spanning-tree root-guard
{% endfor %}
{% for lag in mclags %}
interface lag {{ lag.id }} multi-chassis
    description {{ lag.description }}
    no shutdown
    no routing
    vlan trunk native 1
{% for vlan in host_vlans %}
    vlan trunk allowed {{vlan.id}}
{% endfor %}
    lacp mode active
    lacp fallback
    spanning-tree root-guard
{% endfor %}
interface lag 256
    description VSX_ISL_LAG
    no shutdown
    no routing
    vlan trunk native 1
    vlan trunk allowed all
    lacp mode active
interface 1/1/1
    description RSVDC-ACCESS1-1
    no shutdown
    mtu 9198
    lag 1
interface 1/1/2
    description RSVDC-ACCESS1-2
    no shutdown
    mtu 9198
    lag 1
interface 1/1/3
    description RSVDC-ACCESS2-1
    no shutdown
    mtu 9198
    lag 2
interface 1/1/4
    description RSVDC-ACCESS2-2
    no shutdown
    mtu 9198
    lag 2
interface 1/1/29
    description EXT-FW1-1
    no shutdown
    mtu 9198
    lag 101
interface 1/1/30
    description EXT-FW1-2
    no shutdown
    mtu 9198
    lag 102
interface 1/1/31
    description VSX-ISL
    no shutdown
    mtu 9198
    lag 256
interface 1/1/32
    description VSX-ISL
    no shutdown
    mtu 9198
    lag 256
router ospf 1
    router-id {{loopback0_ip}}/32
    area {{ospf_area}}
{% for vlan in host_vlans %}
interface vlan {{vlan.id}}
    description {{vlan.name}}
    ip mtu 9198
    ip address {{vlan.ip}}/{{vlan.mask | default('24', true)}}
    active-gateway ip mac {{vlan.active_gateway_mac}}
    active-gateway ip {{vlan.active_gateway_ip}}
    ip ospf 1 area 0.0.0.0
    ip igmp enable
    ip pim-sparse enable
{% endfor %}    
{% for vlan in routing_vlans %}
interface vlan {{vlan.id}}
    description CORE-ROUTING-SVI
    ip mtu 9000
    ip address {{vlan.ip}}/{{vlan.mask | default('29', true)}}
    ip ospf 1 area 0.0.0.0
    no ip ospf passive
    ip pim-sparse enable
{% endfor %}    

snmp-server system-location {{ system_location }}
snmp-server system-contact {{ system_contact }}
vsx
    system-mac {{vsx_system_mac | default('02:00:00:00:10:01', true)}}
    inter-switch-link lag {{vsx_isl_lagid | default('256', true)}}
    role {{vsx_role}}
{% if vsx_keepalive_vrf is defined %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}} vrf {{vsx_keepalive_vrf}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}} vrf {{vsx_keepalive_vrf}}
{% endif %}
{% else %}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}}
{% endif %}
{% endif %}
ip dns domain-name {{ dns_domain | default("example.local", true) }}
{% for server in dns_servers %}
ip dns server-address {{server}} vrf mgmt
{% endfor %}
!
!
!
!
!
router ospf 1
    router-id 10.250.12.1
    passive-interface default
    area 0.0.0.0
router pim
    enable
    active-active
https-server vrf mgmt
configuration-lockout central managed
